<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <input id="skuId" name="id" type="hidden"/>

        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <input id="skuInfo" name="skuInfo" type="hidden"/>


        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" ></div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>
        <!----------------商品图片列表 ----------------------->
        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>
        <br/><br/>
    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>

<script language="JavaScript">
    //保存sku信息
    function saveSku() {

        var skuInfo = {};
        skuInfo["skuName"] = $("#skuName").val();
        skuInfo["skuDesc"] = $("#skuDesc").val();
        skuInfo["price"] = $("#price").val();
        skuInfo["weight"] = $("#weight").val();
        skuInfo["spuId"] = $("#spuIdForSku").val();
        skuInfo["id"] = $("#skuId").val();
        skuInfo["catalog3Id"] = $("#ctg3ForSpuList").combobox("getValue");



        //获取平台属性列表参数
        var selects = $("#attrInfoGroup").children("select");
        $(selects).each(function (i, select) {
            var attrId = $(select).attr("attrId");
            var valueId = $(select).find("option:selected").val();

            skuInfo["skuAttrValueList["+i+"].attrId"] = attrId;
            skuInfo["skuAttrValueList["+i+"].valueId"] = valueId;


        });

        //获取销售属性
        var spuSaleAttrSelect = $("#spuSaleAttrGroup").children("select");
        $(spuSaleAttrSelect).each(function (i, select) {
            var saleAttrValueId= $(select).find("option:selected").val();
            var saleAttrValueName= $(select).find("option:selected").text();
            var saleAttrId = $(select).attr("saleAttrId");
            var saleAttrName = $(select).attr("spuSaleAttrName");
            skuInfo["skuSaleAttrValueList["+i+"].saleAttrId"] = saleAttrId;
            skuInfo["skuSaleAttrValueList["+i+"].saleAttrName"] = saleAttrName;
            skuInfo["skuSaleAttrValueList["+i+"].saleAttrValueId"] = saleAttrValueId;
            skuInfo["skuSaleAttrValueList["+i+"].saleAttrValueName"] = saleAttrValueName;
        });

        //封装默认图片
        var skuDefalutImg = $("input[name='isD']:checked").val();
        if (!skuDefalutImg) {
            //若未选择默认图片，则默认为第一个图片
            skuDefalutImg = $("#skuImgDg").datagrid("getRows").eq(0).imgUrl;
        }
        skuInfo.skuDefaultImg =skuDefalutImg;

        //封装图片信息
        skuImgDgbeginEdit();
        var skuImageDgRows= $("#skuImgDg").datagrid("getChecked");
        $(skuImageDgRows).each(function (i, select) {
            skuInfo["skuImageList["+i+"].spuImgId"] = select.id;
            skuInfo["skuImageList["+i+"].imgName"] = select.imgName;
            skuInfo["skuImageList["+i+"].imgUrl"] = select.imgUrl;
            if (select.imgUrl == skuDefalutImg)
                skuInfo["skuImageList["+i+"].isDefault"] = "1";
        });


        $.post('saveSku',skuInfo,function (data) {
            if (data == "success"){
                $.messager.alert('信息','Sku保存成功','info');
                //关闭对话框
                $("#sku_dlg").dialog("close");
                //刷新spu列表
                $("#skulist_dg").datagrid("reload");
            } else{
                $.messager.alert('warning','Sku保存失败','warning');
            }
        });


    }

    //初始化SkuDialog
    function initSkuInfoDlg(spuInfo) {
        var catalog3Id= $("#ctg3ForSpuList").combobox("getValue");
        var spuId = spuInfo.id;
        //初始化sku表单
        $("#spuIdForSku").val(spuInfo.id);
        //初始化平台属性
        console.log("初始化平台属性!!!");
        initAttrInfoGroup(catalog3Id);

        //初始化销售属性
        console.log("初始化销售属性!!!");
        initSpuSaleAttrGroup(spuId);

        //初始化图片列表
        initSkuImgListDatagrid(spuId);

        console.log("清理表单!!!");
    }



    //初始化平台属性信息
    function initAttrInfoGroup(catalog3Id){
        var attrInfoList = {};
        $('#attrInfoGroup').html("");
        $.get("getAttrListByCtg3Id?catalog3Id="+catalog3Id,function (data) {
            attrInfoList = data;
            for (var i = 0; i < attrInfoList.length; i++) {
                var attrInfo = attrInfoList[i];
                var attrInfoHtml = '<span>'+attrInfo.attrName+':</span> <select attrId="'+attrInfo.id+'" class="easyui-combobox">' ;
                for (var j = 0; j < attrInfoList[i].attrValueList.length; j++) {
                    var attrValue = attrInfoList[i].attrValueList[j];
                    console.log(attrValue);
                    var attrValueHtml = '<option value="'+attrValue.id+'">'+attrValue.valueName+'</option>';
                    attrInfoHtml += attrValueHtml;
                }
                attrInfoHtml += "</select>";
                $("#attrInfoGroup").append($(attrInfoHtml));
            }


        });
    }

    //初始化销售属性
    function initSpuSaleAttrGroup(spuId){
        console.log("初始化销售属性");
        var spuSaleAttrList={};
        $('#spuSaleAttrGroup').html("");
        var spuSaleAttrGroup= $('#spuSaleAttrGroup');
        $.get("getSpuSaleAttrListBySpuId?spuId="+spuId,function(data){
            spuSaleAttrList=data;
            for (var i = 0; i < spuSaleAttrList.length; i++) {
                var spuSaleAttr = spuSaleAttrList[i];
                var spuSaleAttrHtml='<span>'+spuSaleAttr.saleAttrName+':</span> <select saleAttrId="'+spuSaleAttr.saleAttrId+'"  ' +
                    'spuSaleAttrName="'+spuSaleAttr.saleAttrName+'"  class="easyui-combobox"   style="width:100px">';

                for (var j = 0; j < spuSaleAttrList[i].spuSaleAttrValueList.length; j++) {
                    var spuSaleAttrValue = spuSaleAttrList[i].spuSaleAttrValueList[j];
                    var spuSaleAttrValueHtml='<option value="'+spuSaleAttrValue.id+'">'+spuSaleAttrValue.saleAttrValueName+'</option>';
                    spuSaleAttrHtml=spuSaleAttrHtml+spuSaleAttrValueHtml;
                }
                spuSaleAttrHtml+='</select>';
                spuSaleAttrGroup.append($(spuSaleAttrHtml));

            }
            // loadSkuSaleAttr();
        });
    }

    //初始化图片列表
    function initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid({url:""});
        $('#skuImgDg').datagrid('loadData', { total: 0, rows: [] });
        skuImgDg = $("#skuImgDg").datagrid({
            columns:[
                [
                    { field:'checkFlag',checkbox:true},
                    { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                    { field:'imgName',title:'图片简称',width:'30%'
                    },
                    { field:'imgUrl',title:'图片路径' ,width:'20%',
                        formatter:function (value, row, index) {
                            return "<img src="+row.imgUrl+" style='width:100px;height:100px;'>";
                        }
                    }
                    ,
                    { field:'isDefault',title:'是否默认图片' ,width:'20%',
                        formatter : function (value,row) {
                            return "<input type='radio' name='isD' value='"+row.imgUrl+"'/>"
                        }
                    }

                ]
            ],
            onLoadSuccess: function () {   //隐藏表头的checkbox
                console.log("共加载"+skuImgDg.datagrid("getRows").length+"行");
                //窗口打开编辑模式
                // loadSkuImg(skuInfo);
                skuImgDgbeginEdit();
            }
        });

        console.log('加载图片数据'+spuId);
        $('#skuImgDg').datagrid({url:'getSkuImageListBySpuId?spuId='+spuId});

    }
    //加载图片数据
    function loadSkuImg(skuInfo){
        if($("#skuInfo").val()==''){
            return;
        }
        var skuInfo=JSON.parse($("#skuInfo").val());
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        if(!skuInfo||!skuInfo.skuImageList){
            return;
        }
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        var imgDg=$('#skuImgDg') ;
        var imgRows =imgDg.datagrid("getRows");
        var skuImgList=skuInfo.skuImageList;
        for (var i = 0; i < imgRows.length; i++) {
            var imgRow = imgRows[i];
            for (var j = 0; j < skuImgList.length; j++) {
                var skuImg = skuImgList[j];
                console.log("imgVs::::::"+skuImg.spuImgId+"||"+imgRow.id);
                if(skuImg.spuImgId==imgRow.id){
                    imgDg.datagrid("checkRow",i);
                    imgDg.datagrid("updateRow",{index:i,row:{isDefault:skuImg.isDefault}});
                }
            }
        }
    }

    //窗口打开编辑模式
    function skuImgDgbeginEdit(){
        var skuImgDg = $("#skuImgDg");
        var rows = skuImgDg.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            skuImgDg.datagrid('beginEdit', i);
        }
    }

</script>
</body>
</html>